{% extends "base.html" %}
{% block title %}Alterar Unidade{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Alterar Unidade {{ unidade.numero }}</h2>
    <form id="alterarUnidadeForm" method="POST" class="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.nome_proprietario.label }}
            {{ form.nome_proprietario(class="form-control", size=40) }}
        </div>
        <br>
        <div class="form-group">
            {{ form.telefone.label }}
            {{ form.telefone(class="form-control", size=20) }}
        </div>
        <br>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control", size=40) }}
        </div>
        <br>
        <center>
            <button type="submit" class="btn-submit">
                Salvar Alterações
            </button>
        </center>
    </form>
</div>

<script>
    document.getElementById('alterarUnidadeForm').addEventListener('submit', function() {
        showLoading();
    });
</script>
{% endblock %}
