<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Título Padrão{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="menu">
        <a href="/">Home</a>
        <a href="{{ url_for('registrar_encomenda') }}">Registrar Encomenda</a>
        <a href="{{ url_for('dar_baixa') }}">Dar Baixa em Encomenda</a>
        <a href="{{ url_for('historico') }}">Histórico de Encomendas</a>
        <a href="{{ url_for('unidades') }}">Unidades</a>
    </div>

    <div class="loading-overlay">
        <div class="loading-spinner"></div>
    </div>

    <!-- Mensagens Flash -->
    {% block flash_messages %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        const flashMessages = document.getElementById('flash-messages');
                        if (flashMessages) {
                            setTimeout(() => {
                                flashMessages.style.display = 'none';
                            }, 2000);
                        }
                    });
                </script>
            {% endif %}
        {% endwith %}
    {% endblock %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Scripts JavaScript no final para melhorar o carregamento -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/popover.js') }}"></script>
    <script src="{{ url_for('static', filename='js/loading.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validators.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
