{% extends "base.html" %}
{% block title %}Dar Baixa em Encomenda{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Encomendas Pendentes</h2>
        {% if encomendas_pendentes %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Unidade</th>
                    <th>Tipo</th>
                    <th>Porteiro que Recebeu</th>
                    <th>Data Recebimento</th>
                </tr>
            </thead>
            <tbody>
                {% for encomenda in encomendas_pendentes %}
                <tr>
                    <td>{{ encomenda.id }}</td>
                    <td>{{ encomenda.unidade_numero }}</td>
                    <td>{{ encomenda.tipo }}</td>
                    <td>{{ encomenda.nome_porteiro_recebimento }}</td>
                    <td>{{ encomenda.data_recebimento.strftime('%d/%m/%Y') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="text-center">Não há encomendas pendentes para dar baixa.</p>
        {% endif %}

        <hr>

        <h2 class="text-center">Dar Baixa em Encomenda</h2>
        {% if baixa_realizada %}
        <p class="success-message">Baixa de Encomenda Realizada com Sucesso!</p>
        {% endif %}
        <form method="POST" class="form">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.encomenda_id.label }}
                {{ form.encomenda_id(class="form-control") }}
            </div>
            <br/>
            <div class="form-group">
                {{ form.nome_morador_retirada.label }}
                {{ form.nome_morador_retirada(class="form-control") }}
            </div>
            <br/>
            <div class="form-group">
                {{ form.nome_porteiro_retirada.label }}
                {{ form.nome_porteiro_retirada(class="form-control") }}
            </div>
            <br/>
            <div class="form-group">
                {{ form.data_retirada.label }}
                {{ form.data_retirada(class="form-control") }}
            </div>
            <br/>
            <center>
                <button type="submit" class="btn-submit">
                    Dar Baixa
                </button>
            </center>
        </form>
    </div>
{% endblock %}
