{% extends "base.html" %}

{% block title %}Unidades{% endblock %}

{% block content %}
    <div class="container">
        <button type="button" class="btn-cadastrar float-right" onclick="location.href='{{ url_for('cadastrar_unidade') }}';">
            Cadastrar Unidade
        </button>
        <h1 class="text-center">Proprietários das Unidades</h1>

        <!-- Tabela de unidades -->
        <table class="table">
            <thead>
                <tr>
                    <th>Nº da unidade</th>
                    <th>Proprietário</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for unidade in unidades %}
                <tr>
                    <td>{{ unidade.numero }}</td>
                    <td>{{ unidade.nome_proprietario }}</td>
                    <td>{{ unidade.telefone }}</td>
                    <td>{{ unidade.email }}</td>
                    <td class="text-center">
                        <a href="{{ url_for('alterar_unidade', id=unidade.id) }}">
                            <img src="{{ url_for('static', filename='editar.png') }}" alt="Editar">
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="{{ url_for('remover_unidade', id=unidade.id) }}" onclick="return confirm('Tem certeza que deseja remover esta unidade?');">
                            <img src="{{ url_for('static', filename='remover.png') }}" alt="Remover Unidade" style="max-width: 24px; max-height: 24px;">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        document.querySelectorAll('.btn-remove-unit').forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                if (confirm('Tem certeza que deseja remover esta unidade?')) {
                    this.closest('form').submit();
                }
            });
        });
    </script>
{% endblock %}
