{% extends "base.html" %}

{% block title %}Unidades{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Proprietários das Unidades</h1>

        <!-- Tabela de unidades -->
        <table class="table">
            <thead>
                <tr>
                    <th>Nº da unidade</th>
                    <th>Proprietário</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Alterar</th>
                </tr>
            </thead>
            <tbody>
                {% for unidade in unidades %}
                <tr>
                    <td>{{ unidade.numero }}</td>
                    <td>{{ unidade.nome_proprietario }}</td>
                    <td>{{ unidade.telefone }}</td>
                    <td>{{ unidade.email }}</td>
                    <td class="text-center">
                        <a href="{{ url_for('alterar_unidade', id=unidade.id) }}">
                            <img src="{{ url_for('static', filename='editar.png') }}" alt="Editar">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
