<!-- unidades.html -->

{% extends "base.html" %}

{% block title %}Unidades{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Proprietários das Unidades</h1>
    <table style="margin: 0 auto; width: 80%; border: 1px solid #ccc; border-collapse: collapse;">
        <thead style="background-color: #333; color: white;">
            <tr>
                <th style="padding: 10px; border: 1px solid #ccc; text-align: center;">Nº da unidade</th>
                <th style="padding: 10px; border: 1px solid #ccc; text-align: center;">Proprietário</th>
                <th style="padding: 10px; border: 1px solid #ccc; text-align: center;">Telefone</th>
                <th style="padding: 10px; border: 1px solid #ccc; text-align: center;">Email</th>
                <th style="padding: 10px; border: 1px solid #ccc; text-align: center;">Alterar</th>
            </tr>
        </thead>
        <tbody>
            {% for unidade in unidades %}
            <tr style="background-color: white;">
                <td style="padding: 10px; border: 1px solid #ccc; text-align: center;">{{ unidade.numero }}</td>
                <td style="padding: 5px; border: 1px solid #ccc;">{{ unidade.nome_proprietario }}</td>
                <td style="padding: 10px; border: 1px solid #ccc;">{{ unidade.telefone }}</td>
                <td style="padding: 10px; border: 1px solid #ccc;">{{ unidade.email }}</td>
                <td style="padding: 10px; border: 1px solid #ccc; text-align: center;"><a href="{{ url_for('alterar_unidade', id=unidade.id) }}"><img src="{{ url_for('static', filename='editar.png') }}" alt="Editar"></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
